@import url("https://fonts.cdnfonts.com/css/satoshi");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.bg-hero {
  background-image: url("assets/bg-hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Backgrounds */
.sound-player-bg {
  background-image: url("assets/bg-dashboard.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
}

.bg-comfortable {
  background-image: url("assets/bg-dashboard_2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
}

.bg-serene {
  background-image: url("assets/bg-dashboard_3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
}

.bg-calm {
  background-image: url("assets/bg-dashboard_4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
}

.video-container {
  background-image: url("assets/video-bg.png");
  background-size: contain;
  background-position: center;
  width: 700px;
  height: 500px;
}
/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Hide the scrollbar for webkit browsers */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.nav-dot.active {
  background-color: rgb(139, 103, 139);
}

/* Preloader */
.loader svg {
  animation: spin 1s linear infinite;
}
/* nav bar */
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.nav__bar {
  padding: 20px;
}
.doze__well {
  font-size: 23px;
}
.nav__link {
  color: hwb(0 87% 13%);
  font-weight: 200;
  display: flex;
  gap: 20px;
}
.arrow {
  font-size: 27px;
  margin-left: 9px;
  font-weight: bold;
  background-color: #7774a7;
}
.card__text {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 30px;
}
.button__card {
  font-weight: 500;
}
.second__slider {
  font-family: "Lato", sans-serif;
}
.p__text {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 16px;
  opacity: 75%;
  width: 80%;
}
.dot__three {
  background-color: #7774a7;
}
/*Subscription*/
.sub__card__middle {
  width: 23%;
  padding: 20px;
  height: 620px;
  padding-top: 45px;
  border-radius: 40px;
  font-size: 14px !important;
}
.sub__bg {
  background-color: #706d9b;
}
.sub__button {
  width: 240px;
  margin-right: 8px;
  border-radius: 20px;
  font-size: 14px;
}
.sub__card {
  width: 22% !important;
  height: 580px;
  padding: 19px;
  font-size: 14.5px !important;
  padding-top: 40px;
  border-radius: 40px;
}
.sub__card__right {
  width: 22% !important;
  height: 580px;
  padding: 19px;
  font-size: 14px !important;
  padding-top: 40px;
  border-radius: 40px;
}
.sub__text {
  font-size: 14px;
  font-weight: bold;
  opacity: 90%;
}
.icon {
  transform: translateX(-60px);
  font-size: 30px;
}
@media (min-width: 768px) {
  .sub__card,
  .sub__card__middle,
  .sub__card__right {
    width: 100% !important;
    max-width: 300px !important;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px !important;
  }
  .nav {
    left: 0;
    right: 0;
  }
}
@media (max-width: 768px) {
  .sub__button {
    margin-left: 13px;
  }
  .sub__card__middle {
    max-width: 380px;
  }
  .sub__bg {
    padding: 16px;
  }
  .icon {
    position: relative;
  }
  .sub__text {
    font-size: 0.9rem;
  }
}

@media (max-width: 767px) {
  .sub {
    gap: 25px;
  }
  .sub__card,
  .sub__card__middle,
  .sub__card__right {
    width: 100% !important;
    max-width: 300px !important;
    gap: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px !important;
  }
  .sub__card__right {
    width: 50%;
  }
  .nav {
    right: 0;
    left: 0;
    max-width: 330px;
  }
}
@media (min-width: 1024px) {
  .sub__card,
  .sub__card__middle,
  .sub__card__right {
    margin: 20px; /* Remove any margins */
    padding: 25px; /* Optional: Adjust padding to your preference */
  }
  .sub {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav {
    width: 80%;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
